{% extends 'base.html' %}

 {% block content %}

  <h1 style= "text-align:center; padding: 10px; border-radius: 10px 10px 10px 10px; box-shadow: 5px 5px 5px; background-color: #16213E; color: #ffffff; font-family: 'Josefin Sans';" >
    Task 4 Assignment PBP/PBD</h1>
<body style= "font-family: 'Josefin Sans'; background-color: #0F3460; color: #ffffff; ">
  <h1 style="text-align: center;">To-Do List</h2>
  <h4 style= "text-align:center; font-size: 24px;">Name: </h5>
  <p style= "text-align:center; font-size: 24px;">{{username}}>


  <table style= "border-collapse: collapse; margin-left: auto; margin-right: auto; border-radius: 10px 10px 10px 10px; overflow: hidden; box-shadow: 8px 8px 8px #131e2c;">
    <tr style= "background-color: #16213E;">
    <th style="padding: 10px;">Date</th>
    <th style="padding: 10px;">Task</th>
    <th style="padding: 10px;">Description</th>
    <th style="padding: 10px;">Status</th>
    <th style="padding: 10px;">Toggle Status</th>
    <th style="padding: 10px;">Delete Task</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in todo_list %}
    <tr style="font-family: 'Josefin Sans'; color: rgb(0, 0, 0);">
        <th style= "text-align: center; padding: 10px; background-color: #7FBCD2"></thstyle>{{task.date}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #A5F1E9">{{task.title}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #7FBCD2">{{task.description}}</th>
        <td style="text-align: center; padding: 15px; background-color: #A5F1E9">
          {% if task.is_finished %}
          Selesai
          {% else %}
          Belum Selesai
          {% endif %}
      </td>
      <td style="background-color: #7FBCD2"><button><a href="toggle/{{ task.id }}">Toggle</a></td></button>
      <td style="background-color: #A5F1E9"><button><a href="delete/{{ task.id }}">Delete</a></td></button>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
  <div class="button-center">
    <button style="text-align: center;"><a href="{% url 'todolist:add_todolist' %}">Tambah Task Baru</a></button>
    <button style="text-align: center;"><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>

  <h5 style="text-align: center;">Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
