{% extends 'base.html' %}

 {% block content %}

  <h1 style= "text-align:center; padding: 10px; background-color: #4C3A51; color: #ffffff; font-family: 'Josefin Sans';" >
    Lab 1 Assignment PBP/PBD</h1>
<body style= "font-family: 'Josefin Sans'; background-color: #774360; color: #ffffff;">
  <h5 style= "font-size: 20px;">Name: </h5>
  <p style= "font-size: 20px;">{{nama}}</p>

  <h5 style= "font-size: 20px;">Student ID: </h5>
  <p style= "padding-bottom: 20px; font-size: 20px;">{{id}}</p>

  <table style= "border-collapse: collapse;">
    <tr style= "background-color: #4C3A51;">
      <th style= "padding: 10px">Item Name</th>
      <th style= "padding: 10px">Item Price</th>
      <th style= "padding: 10px">Item Stock</th>
      <th style= "padding: 10px">Rating</th>
      <th style= "padding: 10px">Description</th>
      <th style= "padding: 10px">Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_catalog %}
    <tr style="font-family: 'Josefin Sans'; color: rgb(0, 0, 0);">
        <th style= "text-align: center; padding: 10px; background-color: #F37878"></thstyle>{{barang.item_name}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #E7AB79">{{barang.item_price}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #F37878">{{barang.item_stock}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #E7AB79">{{barang.rating}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #F37878">{{barang.description}}</th>
        <th style= "text-align: center; padding: 10px; background-color: #E7AB79">{{barang.item_url}}</th>
    </tr>
    {% endfor %}
  </table>
</body>
 {% endblock content %}
